*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.first{
    height: 3rem;
    border-bottom: 2px solid;
    margin: 0 2rem;
}

.header{
    display: flex;
    justify-content: space-between;
    height: 4rem;
    margin: 0 2rem;
margin-top: 1rem;
align-items: center;
}
.header>.logo{
    width: 20%;
    border: 2px solid red;
}
#scroll-container {
    overflow: hidden;
    width: 35%;
    position: absolute;
    left: 60%;
  }
  
  #scroll-text {
    text-align: right;
    transform: translateX(-100%);
    animation: my-animation 7s linear infinite;
  }
  @keyframes my-animation {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100%);
    }
  }